body {
	color: white;
	font-family: "Arial";
	font-size: 12pt;
	background-color: #171717
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: none;
	height: 100px;
	width: 500px;
}

input {
	font-family: inherit;
	font-size: inherit;
	width: "500";
}

.button {
	font-family: inherit;
	font-size: inherit;
}

.warning {
	color: red;
}

.success {
	color: green;
}

.card {
	display: table-cell;
	width: 150px;
	height: 200px;
	margin-right: 10px;
	padding-bottom: 10px;
	top: 30px;
	vertical-align: middle;
	border-radius: 10px;
	border-style: solid;
}

.whiteCard {
	float: left;
	background-color: white;
	color: black;
	border-color: white;
}

.blackCard {
	background-color: black;
	color: white;
	border-color: black;
}
